
@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle{
    Potwierdzenie zamówienia
}
<div style="margin-top: 100px; text-align:center">
    PowerON dziękuje za zakupy! Twoje zamówienie zostało do nas przesłane!
</div>

