
@model PowerON.Models.Genre
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="productlist-content">


    @await Component.InvokeAsync("GenresMenu")

    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="~/images/home-small.png" alt="Alternate Text" />

            <form id="search-form">
                <input id="search-filter" type="search" name="searchQuery"
                       data-autocomplete-source="@Url.Action("AlbumsSuggestions")"
                       placeholder="Czego szukasz?" />

                <input type="submit" value="" />
            </form>


        </div>
        @await Component.InvokeAsync("ProductList", Model.Name)

    </div>
</div>


@section ScriptsBottom{

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/js/site.js"></script>
}