
@model PowerON.Models.Genre
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="productlist-content">


    @await Component.InvokeAsync("GenresMenu")

    <div id="productlist-rightsection">
        <div id="breadcrumb-section">
            <img src="~/images/home-small.png" alt="Alternate Text" />

            <form id="search-form" method="get" data-ajax-target="#productlist-section" action="@Url.Action("SearchList")">
                <input id="search-filter" type="search" name="searchQuery"
                       data-autocomplete-source="@Url.Action("AlbumsSuggestions")"
                       placeholder="Czego szukasz?" />

                <input type="submit" value="" />
            </form>


        </div>
        @await Component.InvokeAsync("ProductList", Model.Name)

    </div>
</div>


@section ScriptsBottom{

 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>



    <script>


        $(function () {

            var setupAutoComplete = function () {
                var $input = $(this);

                var options = {
                    source: $input.attr("data-autocomplete-source"),
                    select: function (event, ui) {
                        $input = $(this);
                        $input.val(ui.item.label);
                        var $form = $input.parents("form:first");
                        $form.submit();
                    }
                };

                $input.autocomplete(options);
            };

            var ajaxSubmit = function () {

                var $form = $(this);

                var settings = {
                    data: $(this).serialize(),
                    url: $(this).attr("action"),
                    type: $(this).attr("method")
                };

                $.ajax(settings).done(function (result) {
                    var $targetElement = $($form.data("ajax-target"));
                    var $newContent = $(result);
                    $($targetElement).replaceWith($newContent);
                    $newContent.effect("slide");


                });

                return false;
            }

            $("#search-filter").each(setupAutoComplete);
            $("#search-form").submit(ajaxSubmit);

        })
    </script>
}