
@{
    ViewData["Title"] = "Wysylka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wysyłka</h2>

<div style="margin-top:20px;line-height:22px">


    Mauris vitae lacus ultricies, elementum libero placerat, ultricies augue. Suspendisse non semper dui, vitae placerat purus. Donec posuere cursus iaculis. Aenean sit amet orci ut arcu fermentum fermentum. Morbi pretium ultrices lectus, at iaculis augue tincidunt a. Curabitur aliquet ipsum vitae leo tempus, vel pharetra est varius. Morbi pharetra massa efficitur nisi dictum laoreet. Integer id semper ex. Morbi mollis venenatis nulla quis ullamcorper.

    Etiam auctor, diam sit amet gravida eleifend, felis leo facilisis nibh, dignissim tincidunt tortor odio nec odio. Nam imperdiet, ante a commodo tincidunt, lectus mi eleifend massa, eu iaculis diam lacus et nibh. Phasellus suscipit sit amet orci vitae tristique. Praesent eleifend nulla dapibus nulla feugiat venenatis. Donec vehicula condimentum euismod. Vivamus eget sodales ipsum. Sed venenatis odio a ligula porttitor, sit amet molestie sapien luctus. Vivamus et vestibulum lacus. Vestibulum efficitur auctor metus in rhoncus. Nullam malesuada est nec ex imperdiet, id eleifend est condimentum.
    </div>